*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(132, 132, 135);
}


.grid{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 50px 1fr 100px;
    grid-template-areas: 
    "sidebar title"
    "sidebar header"
    "sidebar matter"
    "footer footer";
    column-gap: 10px;
    row-gap: 5px;
   
    height: 800px;
    
    
    
}

.title{
    grid-area: title;
    background-color: black;
    
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
}
.matter{
    grid-area: matter;
}
.footer{
    grid-area: footer;
}

.search-box{
width: 400px;
height: 40px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5px;
float: left;
row-gap: 10px;
border: solid; color: brown;
border-radius: 10px;
align-self: center;


}

